@charset "ISO-8859-1";
*{

	margin: 0;
	padding: 0;
}
body{
	margin: auto;
	width: 100%;
    color: #404E67;
    background: black;
	font-family: 'Open Sans', sans-serif;
	
}
.container{
	width: 400px;
	top: 100px;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 65px;
    background: fff;
    margin: auto;
}
.form-wrapper {
		width: 700px;
		margin: auto;
		height: 400px;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
.form-class{
	margin: auto;
	width: 100%;
	display: block;
	
}

.form-title {
    display: block;
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 30px;
}
.wrap-input{
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 17px;	
}
input {
    outline: none;
    border: none;
}
.input-class{
	display: block;
    width: 100%;
    background: 0 0;
    font-family: JosefinSans-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2
	    height: 62px;
    padding: 0 20px 0 23px;
}
