<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<form action="#" method="post" th:action="@{/brand/save}" th:object="${brand}">
		<input type="hidden" th:fiels="*{id}">
	  <label>Brand Id :</label>
	  <br><input type="text" th:field="*{brandId}" placeholder="[default]" readonly="readonly" style="color: graytext;"/></br>
	 <label>Name :</label>
	  <br><input type="text" th:field="*{name}" /></br>
	  <label>Price :</label>
	  <br><input type="text" th:field="*{price}" /></br>
	  <label>Type :</label>
	  <br><input type="text" th:field="*{type}" /></br>
	  <label></label>
	  <input type="submit" value="Save" />
	</form> 
</body>
</html>